@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@600&display=swap');


.App {
  text-align: center;
  justify-content: center;
  display: flex;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



